.clear-fix{
    clear: both;
}
#top{
    background-color: #202a69;
}
#top #top-navigation ul{
    float: left;
}
#top #top-navigation ul li{
    display: inline-block;
    margin: 0 10px;

}
#top #top-navigation ul li a{
    color: white;
    line-height: 40px;

}
#top #top-navigation ul li a:hover{
    color : #9fc8d4;
}
#date-time-local{
    line-height: 40px;
    color: white;
}
header{
    background-color: #161616;
    height: 90px;
}
header #top-logo h1{
    font-size: 0;
    background-image: url(../Images/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 185px;
    height: 60px;
    margin-top: 17px;

}
header #top-ads{
    background-color: white;
    display: inline-block;
    width: 100%;
    line-height: 70px;
    text-align: center;
    margin-top: 10px;
    color: black;
}
header #search-box{
    margin-top: 30px;
    background-color: white;
}
header #search-box button{
    background-color: transparent;
    border: 0;
    float: left;
    cursor: pointer;
    outline: none;
    margin-top: 2px;
}
header #search-box input{
    border: 0;
    padding: 5px;
    outline: 0;
    float: right;
}
nav{
    border-bottom: 3px solid #202a69;
}
#main-navigation li {
    display: inline-block;
    line-height: 40px;
}
#main-navigation li a{
    color: black;
    padding: 0 10px;
    line-height: 40px;
    display: inline-block;
}
#main-navigation li.active a,
#main-navigation li a:hover{
    background-color: #202a69;
    color: white;
}
#main-navigation li a.home img{
    vertical-align: middle;
}
#main-section {
    margin: 10px 0;
}
.box{
    border: 1px solid #202a69;
}
.box .box-header{
    background-color: #202a69;
    color: white;
    padding: 10px;
}
.box .box-body{
    padding: 10px;
}
.side-thumb-link{
    position: relative;
    display: block;
}
.side-thumb-link img{
    width: 100%;
    height: auto;
    border: 1px solid gray;
}
.side-thumb-link .title{
    position: absolute;
    left: -2px;
    bottom: 4px;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
}
.side-thumb-link:hover .title{
    background-color: black;
}
#home-trend-news{
    position: relative;
    border: 1px solid #2e3772;
}
#home-trend-news img{
    width: 100%;
    height: auto;

}
#home-trend-news .title{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}